# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/.env

# Backend
/backend/vendor/
/backend/.env
/backend/public/uploads/listings/*
!/backend/public/uploads/listings/.gitkeep

# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
